<html>
    <head>
        <title th:text= "'Hello ' + ${membername} + '!'"></title>
    </head>
    <body>
        <form action="" method="POST">
            Name: <input type="text" name="name" placeholder="Your Name" required="true"><br>
            E-Mail: <input type="email" name="mail" placeholder="Your E-Mail" required="true"><br>
            Feedback <br><textarea rows="4" cols="50" name="feedback" placeholder="Enter Your Feedback" required="true"></textarea>
            <input type="submit" value="Send">
        </form>
    </body>
</html>